@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "tailwindcss";
@import 'bootstrap-icons/font/bootstrap-icons.css';



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  color-scheme: dark;
 
}

:root {
  font-family: "Poppins", sans-serif;
  background-color: #000;

  


}
button.add-to-cart-btn {
  cursor: pointer;
}

.shadow{
  box-shadow: inset 0 -5px 15px 5px rgba(0, 0, 0, 0.9);
}

.shadow2{
  box-shadow:  0px 0px 5px 1px rgba(0, 0, 0, 0.2);
}

.shadow3{
  box-shadow: inset 0 10px 15px -5px rgba(0, 0, 0, 0.7);
}

body{
  overflow-x:hidden;
}

:root {
  --primary: #000211;
  --secondary: #aaa6c3;
  --black-100: #100d25;
  --black-200: #090325;
  --white-100: #f3f3f3;

  --boxShadow-card: 0px 35px 120px -15px #211e35;

  --xs-screen: 450px;

 
}
.div-1{
  margin-left:50px;

 
}
.div-2{
  margin-left:110px;
  margin-bottom:20px;
 
}

.div-3{
  margin:10px 5px;
}

.text3d{
  text-shadow: 3px 3px 5px #000;
}

.bg-primary{
  background-color: var(--primary);
}
.bg-quaternary{
  background-color:#090325;
}

.bg-secondary{ 
  background-color: #000211;
  border:solid 1px #3945ef;
  padding: 10px;
  box-shadow: 0px 0px 2px 0.5px #3945ef;
}

.whatsapp{
  display:flex;
  justify-content: center;
  align-items:center;
  position:fixed;
  bottom:5%;
  right:3%;
  z-index:10;

  background:linear-gradient(90deg, #3945ef , #1f2371);
  border-radius:50%;
  color:white;
  font-size:36px;
  box-shadow: 1px 1px 5px 2px #000;
  cursor:pointer;
}


.bg-tertiary {
  background:linear-gradient(360deg, #000211 30% , #3945ef );
  border:solid 1px #3945ef;
  padding: 10px;
  box-shadow: 0px 0px 2px 0.5px #3945ef;
}

.bg-black-100 {
  background-color: var(--black-100);
}

.bg-black-200 {
  background-color: var(--black-200);
}

.bg-white-100 {
  background-color: var(--white-100);
}

/* Box shadow usando a variável */
.box-shadow-card {
  box-shadow: var(--boxShadow-card);
}
body{
  background-color: var(--primary);
}

.bg-custom1{
  background-image: url('./assets/herobg.png');
  background-size: cover;
  background-position: center; 

} 
.bg-custom2{
  background-image: url('./assets/imgcta.jpg');
  background-size: cover; 
  object-fit: cover;
  background-position: center;

  
}



.swiper {
  width: 90%;
  height: 70vh;
  
}

.swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  
}

.swiper-card{
  width:100%;
  height: 100%;
  border-radius: 10px;

}

.btn-default{
  background: linear-gradient(45deg, #3945ef, #000211);
  color: #fff;
  padding: 7px 14px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size:1rem;
  padding:10px;
}




.hash-span {
  margin-top: -100px;
  padding-bottom: 100px;
  display: block;
}


.navbar{
  background-color:var(--primary);
  padding-bottom:30px;
  border:solid 1px black;
  
}



.blue-gradient {
  background: #3945ef;
  background: linear-gradient(-90deg, #3945ef 0%, #3945ef00 100%);

  background: -webkit-linear-gradient(
  -90deg,
  #3945ef 0%,
  #3945ef00 100%
);
}

.green-pink-gradient {
  background: "#00cea8";
  background: linear-gradient(90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
  background: -webkit-linear-gradient(-90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
}

.orange-text-gradient {
  background: #f12711; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #f12711,
    #f5af19
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #f12711,
    #f5af19
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.green-text-gradient {
  background: #11998e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #11998e,
    #38ef7d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #11998e,
    #38ef7d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.blue-text-gradient {
  /* background: -webkit-linear-gradient(#eee, #333); */
  background: #56ccf2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #2f80ed,
    #56ccf2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #2f80ed,
    #56ccf2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.pink-text-gradient {
  background: #ec008c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #ec008c,
    #fc6767
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #ec008c,
    #fc6767
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

/* canvas- styles */
.canvas-loader {
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.1s infinite ease;
  transform: translateZ(0);
}

@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff,
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7),
      1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff,
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff,
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.5),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff,
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff,
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff,
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}

